@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root{
  --clr-blue:#3494e4;
  --clr-whitish-blue:rgba(255, 255, 255, 0.9);
}

body{
  font-family: 'Montserrat', sans-serif;
}